---
import Layout from "@layouts/Layout.astro";
import VacancyLayout from "@layouts/VacancyLayout.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Vacancies from "@components/blocks/Vacancies.astro";
import Modal from "@components/Modal.astro";
import Form from "@components/forms/FormVacancy.astro";
import Form2 from "@components/forms/FormVacancyOther.astro";

import fetchApi from "@lib/strapi";
import type Vacancy from "@interfaces/vacancy";

import getVacancies from "@data/getVacancies";

import replaceQuotes from "@utils/replaceQuotes";

export const prerender = false;

const { slug } = Astro.params;

let vacancy: Vacancy;

try {
  vacancy = await fetchApi<Vacancy>({
    endpoint: 'vacancies',
    wrappedByKey: 'data',
    wrappedByList: true,
    query: {
      'locale': 'en',
      'filters[slug][$eq]': slug || '',
    },
  });

} catch (error) {
  return Astro.redirect('/en/404');
}

if (!vacancy) return Astro.redirect('/en/404');

const title = replaceQuotes(vacancy.attributes.title);

const pages = await getVacancies('en');
const otherVacancies = pages.filter((page) => page.slug !== slug);

type Crumb = {
  title: string;
  href?: string;
};

const breadcrumbs: Crumb[] = [
  {
    title: "Home",
    href: "/en/",
  },
  {
    title: "Career",
    href: "/en/career/",
  },
  {
    title: title,
  },
];
---

<Layout title={title}>
  <section class="section">
    <h1 class="page-title">{title}</h1>
    <div class="page">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
      <VacancyLayout vacancy={vacancy} />
    </div>
  </section>

  <Vacancies title="Other vacancies" />

  <Modal id={2}>
    <Fragment slot="title">
      Fill out the form <br /> and we will contact you <br /> within one business day
    </Fragment>
    <Fragment slot="content"><Form /></Fragment>
  </Modal>

  <Modal id={3}>
    <Fragment slot="title">
      Fill out the form <br /> and we will contact you <br /> within one business day
    </Fragment>
    <Fragment slot="content"><Form2 /></Fragment>
  </Modal>
</Layout>
