---
import List from "@components/List.astro";
import Filter from "@components/Filter.astro";
import projects from "@data/projects.json";
import services from "@data/services.json";

const list = projects.map((item) => ({
  ...item,
  href: `/projects/${item.slug}/`,
}));
---

<div>
  <Filter filters={services} />
  <List list={list} />
</div>
