---
import List from "@components/List.astro";
import Filter from "@components/Filter.astro";
import getServises from "@data/getServices";
import getProjects from "@data/getProjects";

const services = await getServises();

const projects = await getProjects();
---

<div>
  <Filter filters={services} />
  <List list={projects} />
</div>
