---
import Layout from "@layouts/Layout.astro";
import Widget from "@components/Widget.astro";
import SimpleList from "@components/SimpleList.astro";
import Team from "@components/Team.astro";
import CustomersAndGratitude from "@components/blocks/CustomersAndGratitude.astro";
import CardsWithMobileSlider from "@components/CardsWithMobileSlider.astro";
import Documents from "@components/blocks/Documents.astro";

type cardWidget = {
  title: string;
  text: string;
};

const cardsForWidget: cardWidget[] = [
  {
    title: "Топ–20",
    text: "Входим в Топ–20 <br> инжиниринговых <br> компаний России",
  },
  {
    title: "300+",
    text: "Более 300 <br> специалистов <br> в штате",
  },
  {
    title: "9+",
    text: "Более 9 <br> лет опыта и экспертизы <br> в строительстве",
  },
];

type ListItem = {
  title: string;
  text: string;
};

const list: ListItem[] = [
  {
    title: "Используем собственный <br> онлайн–сервис",
    text: "Онлайн-сервис «Cobalt» упрощает процесс подготовки исполнительной документации, сокращает сроки работ и позволяет сэкономить на привлечении дополнительного штата специалистов.",
  },
  {
    title: "Работаем с лучшими <br> специалистами",
    text: "В компании работает более 300 человек с релевантным опытом работы, проходящих постоянное обучение и повышение квалификации. Независимо от этапа строительства, ориентируясь на запросы заказчиков, оперативно формируем команду проекта для решения требуемых технических задач.",
  },
  {
    title: "Гарантируем качество <br> оказываемых услуг",
    text: "Контролируем процесс подготовки и сроки выполнения работ. Определяем контрольные срезы и форматы отчётности о проделанной работе. В спорных ситуациях обеспечиваем поддержку и разделяем ответственность.",
  },
  {
    title: "Имеем все необходимые ресурсы <br> для осуществления работ",
    text: "Наша компания имеет лицензию министерства культуры и СРО на проектирование, изыскание, строительные работы. Также наличие собственного автопарка, геодезического оборудования и оргтехники позволяет качественно оказывать услуги.",
  },
];

type cardForTeam = {
  name: string;
  position: string;
  imagePath: string;
};

const team: cardForTeam[] = [
  {
    name: "Михаил Харасов",
    position: "Директор",
    imagePath: "/src/assets/team/1.jpg",
  },
  {
    name: "Антон Погудин",
    position: "Заместитель директора",
    imagePath: "/src/assets/team/2.jpg",
  },
  {
    name: "Дмитрий Захаров",
    position: "Начальник отдела контроля качества",
    imagePath: "/src/assets/team/3.jpg",
  },
  {
    name: "Алексей Гончарук",
    position: "Начальник производственно–технического отдела",
    imagePath: "/src/assets/team/4.jpg",
  },
  {
    name: "Владимир Логинов",
    position: "Заместитель директора по капитальному строительству",
    imagePath: "/src/assets/team/5.jpg",
  },
  {
    name: "Кристина Каменских",
    position: "Руководитель отдела по ОТ, ПБ и ООС",
    imagePath: "/src/assets/team/6.jpg",
  },
  {
    name: "Наталья Есипенко",
    position: "Руководитель отдела развития",
    imagePath: "/src/assets/team/7.jpg",
  },
];

type cardWMS = {
  title: string;
  caption: string;
  imagePath: string;
  altText: string;
};

const cardsWMS: cardWMS[] = [
  {
    title:
      "Являемся действующим партнером детского фонда РООС «Подари надежду»",
    caption:
      "Ежегодно участвуем в организации праздников, поддерживаем школы и интернаты из отдалённых районов Пермского края",
    imagePath: "/src/assets/images/card1.jpg",
    altText: "Фото",
  },
  {
    title: "Способствуем развитию здорового образа жизни и детского спорта",
    caption:
      "Ежегодно принимаем участие в забегах «Зелёный марафон» и «Стальной характер», а также оказываем посильную помощь детскому спорту",
    imagePath: "/src/assets/images/card2.jpg",
    altText: "Фото",
  },
];
---

<Layout title="КОМПАНИЯ">
  <Widget
    title="Компания"
    subtitle="ответственно подходим <br> к решению задач <br> и имеем большой опыт <br> реализации крупных проектов"
    imagePath="/src/assets/images/cover3.jpg"
    altText="Картинка для баннера"
    link="Ознакомиться с услугами"
    href="/services/"
    cards={cardsForWidget}
  />

  <section class="section">
    <h2 class="title">преимущества <br /> нашей компании</h2>
    <SimpleList list={list} />
  </section>

  <Team title="Команда <br> профессионалов" cards={team} />

  <CustomersAndGratitude />

  <CardsWithMobileSlider
    title="социальная <br> ответственность"
    cards={cardsWMS}
  />

  <Documents />
</Layout>
