---
import Layout from "@layouts/Layout.astro";
import Widget from "@components/Widget.astro";
import List from "@components/List.astro";
import Cards from "@components/Cards.astro";
import CustomersAndGratitude from "@components/blocks/CustomersAndGratitude.astro";

import getServises from "@data/getServices";

const services = await getServises();

type cardWidget = {
  title: string;
  text: string;
};

const cardsForWidget: cardWidget[] = [
  {
    title: "2015",
    text: "С 2015 года <br> копим опыт и экспертизу <br> в строительстве",
  },
  {
    title: "100+",
    text: "Более 100 <br> реализованных <br> проектов",
  },
  {
    title: "30+",
    text: "Более 30 <br> регионов <br> присутствия",
  },
];

type linkItem = {
  link?: string;
  href?: string;
  classLink?: string;
};

type card = {
  classList?: string;
  title?: string;
  caption?: string;
  imagePath?: string;
  altText?: string;
  links?: Array<linkItem>;
};

const cards1: card[] = [
  {
    classList: "card--white",
    title: "Проекты",
    caption: "гордимся каждым <br> проектом",
    links: [
      {
        link: "Смотреть проекты",
        href: "/projects/",
      },
    ],
  },
  {
    classList: "card--black",
    title: "заявка",
    caption: "Поможем с выбором <br> услуги",
    links: [
      {
        link: "оставить заявку",
        classLink: "show-modal",
      },
    ],
  },
];

const cards2: card[] = [
  {
    classList: "card--image",
    imagePath: "/src/assets/images/cover2.webp",
    altText: "Картинка",
  },
  {
    classList: "card--white",
    title: "карьера",
    caption: "Активно развиваемся <br> и ищем таланты",
    links: [
      {
        link: "Карьера в компании",
        href: "/career/",
      },
    ],
  },
];
---

<Layout title="ГЛАВНАЯ">
  <Widget
    title="Входим в Топ—20 <br> инжиниринговых <br> компаний России"
    subtitle="Предоставляем полный спектр <br> инжиниринговых услуг <br> в промышленном и гражданском <br> строительстве"
    imagePath="/src/assets/images/cover1.webp"
    altText="Картинка для баннера"
    link="Подробнее о компании"
    href="/company/"
    cards={cardsForWidget}
  />

  {
    services.length > 0 && (
      <section class="section">
        <h2 class="title">
          Эффективно решаем <br /> поставленные задачи
        </h2>
        <List list={services} />
      </section>
    )
  }

  <Cards cards={cards1} />

  <CustomersAndGratitude />

  <Cards cards={cards2} />
</Layout>
