---
import Layout from "@layouts/Layout.astro";
import List from "@components/List.astro";
import gratitudes from "@data/gratitudes.json";
import ProjectList from "@components/blocks/Projects.astro";

import getProjects from "@data/getProjects";
const projects = await getProjects();

const count = projects.length;
---

<Layout title="ПРОЕКТЫ">
  <section class="section">
    <h2 class="title">ПРОЕКТЫ / {count}</h2>
    <ProjectList />
  </section>

  <section class="section">
    <h2 class="title">Отзывы <br /> и благодарности</h2>
    <List list={gratitudes} />
  </section>
</Layout>
