---
import Layout from "@layouts/Layout.astro";
import List from "@components/List.astro";
import Filter from "@components/Filter.astro";
import projects from "@data/projects.json";
import gratitudes from "@data/gratitudes.json";

const list = projects.map((item) => ({
  ...item,
  href: `/projects/${item.slug}/`,
}));

const count = projects.length;
---

<Layout title="ПРОЕКТЫ">
  <section class="section">
    <h2 class="title">ПРОЕКТЫ / {count}</h2>
    <Filter />
    <List list={list} />
  </section>

  <section class="section">
    <h2 class="title">Отзывы <br /> и благодарности</h2>
    <List list={gratitudes} />
  </section>
</Layout>
