---
import Layout from "@layouts/Layout.astro";
import List from "@components/List.astro";
import gratitudes from "@data/gratitudes.json";
import getServises from "@data/getServices";

const services = await getServises();

const count = services.length;
---

<Layout title="УСЛУГИ">
  <section class="section">
    <h1 class="title">УСЛУГИ / {count}</h1>
    <List list={services} />
  </section>

  <section class="section">
    <h2 class="title">Отзывы <br /> и благодарности</h2>
    <List list={gratitudes["ru"]} />
  </section>
</Layout>
