---
interface Props {
  cards: Array<Card>;
}

interface Card {
  classList?: string;
  title?: string;
  caption?: string;
  link?: string;
  href?: string;
}

const { cards } = Astro.props;
---

<section class="cards">
  {
    cards.map((card: Card) => (
      <div class="card" class:list={[card.classList]}>
        {card.caption && <div class="card-block">
          <div set:html={card.caption} class="card-caption" />
        </div>}
        {card.title && <h2 class="card-title title">{card.title}</h2>}
        {card.href && <div class="card-block">
          <a class="card-link link" href={card.href}>
            {card.link}
          </a>
        </div>}
      </div>
    ))
  }
</section>

<style>
  .cards {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 320px;
  }

  .card--white {
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }

  .card--white::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #161619;
  }

  .card--black {
    padding: 0 16px;
    background-color: #161619;
    color: #faf8f8;
  }

  .card--black .card-link {
    color: #faf8f8;
  }

  .card-block {
    display: flex;
    width: 100%;
    min-height: 140px;
  }

  .card-block:last-child {
    align-items: flex-end;
  }

  .card-caption {
    max-width: 50%;
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }

  .card-title {
    margin: auto;
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    .cards {
      flex-direction: row;
      padding: 96px 0;
    }

    .card {
      min-height: 560px;
    }

    .card-block {
      min-height: 244px;
    }

    .card--white {
      width: calc(100% - 64px);
      margin-left: 32px;
      margin-right: 0;
    }

    .card--white::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #161619;
    }
  }
</style>
