---
import MenuMobile from "@components/MenuMobile.astro";

import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<script>
  const currentPath: string = window.location.pathname;
  const links: NodeListOf<Element> = document.querySelectorAll(".link");

  links.forEach((el: Element) => {
    if (el.getAttribute("href") === currentPath)
      el.classList.add("link--active");
  });

  document.querySelector(".btn-menu").addEventListener("click", () => {
    document.querySelector(".menu").classList.toggle("menu--active");
    document.documentElement.style.setProperty("overflow-y", "hidden");
  });
</script>

<header class="header">
  <nav class="nav nav--desctop">
    <div class="nav-item">
      <a class="link" href={translatePath("/")}>
        {
          lang === "ru" ? (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="75"
              height="56"
              viewBox="0 0 75 56"
              fill="none"
            >
              <path
                d="M22.5 15C23.8807 15 25 16.1193 25 17.5C25 16.1193 26.1193 15 27.5 15H47.5C48.8807 15 50 16.1193 50 17.5C50 16.1193 51.1193 15 52.5 15H72.5C73.8807 15 75 16.1193 75 17.5V20L55 20V35L75 35V37.5C75 38.8807 73.8807 40 72.5 40H52.5C51.1193 40 50 38.8807 50 37.5V20L40 20V40H35V20L25 20V40H20V20H5V40H0V17.5C0 16.1193 1.11929 15 2.5 15H22.5Z"
                fill="#161619"
              />
            </svg>
          ) : (
            <svg
              width="67"
              height="25"
              viewBox="0 0 67 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M22.2222 2.5C22.2222 1.11929 21.2273 0 20 0H2.22222C0.994923 0 0 1.11929 0 2.5V25H4.44444V20H20C21.2273 20 22.2222 18.8807 22.2222 17.5V5L31.1111 5V25H35.5556V5L44.4444 5V12.5C44.4444 13.8807 45.4394 15 46.6667 15H62.2222V20H44.4444V22.5C44.4444 23.8807 45.4394 25 46.6667 25H64.4444C65.6717 25 66.6667 23.8807 66.6667 22.5V12.5C66.6667 11.1193 65.6717 10 64.4444 10H48.8889V5L66.6667 5V2.5C66.6667 1.11929 65.6717 0 64.4444 0H46.6667C45.4394 0 44.4444 1.11929 44.4444 2.5C44.4444 1.11929 43.4495 0 42.2222 0H24.4444C23.2171 0 22.2222 1.11929 22.2222 2.5ZM17.7778 15V5H4.44444V15H17.7778Z"
                fill="#161619"
              />
            </svg>
          )
        }
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link link" href={translatePath("/services/")}
        >{t("nav.services")}</a
      >
      <a class="nav-link link" href={translatePath("/projects/")}
        >{t("nav.projects")}</a
      >
    </div>
    <div class="nav-item">
      <a class="nav-link link" href={translatePath("/company/")}
        >{t("nav.company")}</a
      >
      <a class="nav-link link" href={translatePath("/career/")}
        >{t("nav.career")}</a
      >
      <a class="nav-link link" href={translatePath("/news/")}>{t("nav.news")}</a
      >
    </div>
    <div class="nav-item">
      <a class="nav-link link show-modal">{t("nav.order")}</a>
      <a class="nav-link link" href={translatePath("/contacts/")}
        >{t("nav.contacts")}</a
      >
    </div>
  </nav>

  <div class="header-mobile">
    <a
      class="link"
      href={translatePath("/")}
      aria-label="Ссылка на главную страницу"
    >
      {
        lang === "ru" ? (
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="75"
            height="56"
            viewBox="0 0 75 56"
            fill="none"
          >
            <path
              d="M22.5 15C23.8807 15 25 16.1193 25 17.5C25 16.1193 26.1193 15 27.5 15H47.5C48.8807 15 50 16.1193 50 17.5C50 16.1193 51.1193 15 52.5 15H72.5C73.8807 15 75 16.1193 75 17.5V20L55 20V35L75 35V37.5C75 38.8807 73.8807 40 72.5 40H52.5C51.1193 40 50 38.8807 50 37.5V20L40 20V40H35V20L25 20V40H20V20H5V40H0V17.5C0 16.1193 1.11929 15 2.5 15H22.5Z"
              fill="#161619"
            />
          </svg>
        ) : (
          <svg
            width="67"
            height="25"
            viewBox="0 0 67 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22.2222 2.5C22.2222 1.11929 21.2273 0 20 0H2.22222C0.994923 0 0 1.11929 0 2.5V25H4.44444V20H20C21.2273 20 22.2222 18.8807 22.2222 17.5V5L31.1111 5V25H35.5556V5L44.4444 5V12.5C44.4444 13.8807 45.4394 15 46.6667 15H62.2222V20H44.4444V22.5C44.4444 23.8807 45.4394 25 46.6667 25H64.4444C65.6717 25 66.6667 23.8807 66.6667 22.5V12.5C66.6667 11.1193 65.6717 10 64.4444 10H48.8889V5L66.6667 5V2.5C66.6667 1.11929 65.6717 0 64.4444 0H46.6667C45.4394 0 44.4444 1.11929 44.4444 2.5C44.4444 1.11929 43.4495 0 42.2222 0H24.4444C23.2171 0 22.2222 1.11929 22.2222 2.5ZM17.7778 15V5H4.44444V15H17.7778Z"
              fill="#161619"
            />
          </svg>
        )
      }
    </a>
    <button class="btn-menu" aria-label="Кнопка меню">
      <svg
        width="48"
        height="56"
        viewBox="0 0 48 56"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 24H2V22H46V24Z"
          fill="#161619"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 34H2V32H46V34Z"
          fill="#161619"></path>
      </svg>
    </button>
  </div>
</header>

<MenuMobile />

<style>
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #faf8f8;
    z-index: 10;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    gap: 16px;
  }

  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 56px;
    background-color: #faf8f8;
    border: none;
    cursor: pointer;
  }

  .nav--desctop {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

  @media screen and (min-width: 688px) {
    .header-mobile {
      display: none;
    }

    .nav {
      display: flex;
      gap: 16px;
      height: 56px;
      padding: 0 16px;
    }

    .nav-item {
      display: flex;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;
    }

    .nav-item:last-child {
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 1025px) {
    .nav {
      padding: 0 32px;
    }
  }
</style>
