---
import MenuMobile from "@components/MenuMobile.astro";
---

<script>
  const currentPath: string = window.location.pathname;
  const links: NodeListOf<Element> = document.querySelectorAll(".link");

  links.forEach((el: Element) => {
    if (el.getAttribute("href") === currentPath)
      el.classList.add("link--active");
  });

  document.querySelector(".btn-menu").addEventListener("click", () => {
    document.querySelector(".menu").classList.toggle("menu--active");
    document.documentElement.style.setProperty("overflow-y", "hidden");
  });
</script>

<header class="header">
  <nav class="nav nav--desctop">
    <div class="nav-item">
      <a class="link" href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="75"
          height="56"
          viewBox="0 0 75 56"
          fill="none"
        >
          <path
            d="M22.5 15C23.8807 15 25 16.1193 25 17.5C25 16.1193 26.1193 15 27.5 15H47.5C48.8807 15 50 16.1193 50 17.5C50 16.1193 51.1193 15 52.5 15H72.5C73.8807 15 75 16.1193 75 17.5V20L55 20V35L75 35V37.5C75 38.8807 73.8807 40 72.5 40H52.5C51.1193 40 50 38.8807 50 37.5V20L40 20V40H35V20L25 20V40H20V20H5V40H0V17.5C0 16.1193 1.11929 15 2.5 15H22.5Z"
            fill="#161619"></path>
        </svg>
      </a>
    </div>
    <div class="nav-item">
      <a class="nav-link link" href="/services/">Услуги</a>
      <a class="nav-link link" href="/projects/">Проекты</a>
    </div>
    <div class="nav-item">
      <a class="nav-link link" href="/company/">Компания</a>
      <a class="nav-link link" href="/career/">Карьера</a>
      <a class="nav-link link" href="/news/">Журнал</a>
    </div>
    <div class="nav-item">
      <a class="nav-link link show-modal">Заказать услугу</a>
      <a class="nav-link link" href="/contacts/">Контакты</a>
    </div>
  </nav>

  <div class="header-mobile">
    <a class="link" href="/" aria-label="Ссылка на главную страницу">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="75"
        height="56"
        viewBox="0 0 75 56"
        fill="none"
      >
        <path
          d="M22.5 15C23.8807 15 25 16.1193 25 17.5C25 16.1193 26.1193 15 27.5 15H47.5C48.8807 15 50 16.1193 50 17.5C50 16.1193 51.1193 15 52.5 15H72.5C73.8807 15 75 16.1193 75 17.5V20L55 20V35L75 35V37.5C75 38.8807 73.8807 40 72.5 40H52.5C51.1193 40 50 38.8807 50 37.5V20L40 20V40H35V20L25 20V40H20V20H5V40H0V17.5C0 16.1193 1.11929 15 2.5 15H22.5Z"
          fill="#161619"></path>
      </svg>
    </a>
    <button class="btn-menu" aria-label="Кнопка меню">
      <svg
        width="48"
        height="56"
        viewBox="0 0 48 56"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 24H2V22H46V24Z"
          fill="#161619"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M46 34H2V32H46V34Z"
          fill="#161619"></path>
      </svg>
    </button>
  </div>
</header>

<MenuMobile />

<style>
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #faf8f8;
    z-index: 10;
  }

  .header-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    gap: 16px;
  }

  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 56px;
    background-color: #faf8f8;
    border: none;
    cursor: pointer;
  }

  .nav--desctop {
    display: none;
  }

  .menu-mobile {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    .header-mobile {
      display: none;
    }

    .nav {
      display: flex;
      gap: 16px;
      height: 56px;
      padding: 0 32px;
    }

    .nav-item {
      display: flex;
      align-items: center;
      gap: 16px;
      flex: 1 0 0;
    }

    .nav-item:last-child {
      justify-content: space-between;
    }
  }
</style>
