---
interface Props {
  title: string;
  list: Array<List>;
}

interface List {
  title: string;
  folder?: string;
  slug?: string;
}

const { title, list } = Astro.props;
---

<section class="section">
  <h2 set:html={title} class="title"></h2>
  <div class="list">
    {list.map((item: List) =>     
      <a href={`/${item.folder}/${item.slug}/`} class="list-item">
        <div class="list-item-content">
          <div class="list-item-name">{item.title}</div>
        </div>
        <div class="list-item-icon"></div>
      </a>
    )}
  </div>
</section>

<style>
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .list-item {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 0;
    background-color: #FAF8F8;
    color: #161619;
    text-decoration: none;
  }
  
  .list-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
  }
  
  .list-item-name {
    max-width: 488px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }
  
  .list-item::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #161619;
  }
  
  .list-item-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  
  .list-item-icon::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4.5 19.5L19.5 4.5M19.5 4.5L19.5 19.5M19.5 4.5L4.5 4.5" stroke="%23161619" stroke-width="1.4" stroke-linecap="square"/></svg>');
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  
  .list-item:hover {
    background-color: #FE5639;
    color: #FAF8F8;
  }
  
  .list-item:hover::before {
    left: -32px;
    width: calc(100% + 64px);
    height: calc(100% + 1px);
    background-color: #FE5639;
    z-index: -1;
  }
  
  .list-item:hover::after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #FE5639;
    z-index: 2;
  }

  @media screen and (min-width: 1024px) {
    .list-item-name {
      max-width: 920px;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -1.44px;
    }
  
    .list-item-icon {
      width: 32px;
      height: 32px;
    }
  
    .list-item-icon::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M6 6L26 26M26 26L26 6M26 26L6 26" stroke="%23161619" stroke-width="2" stroke-linecap="square"/></svg>');
      width: 32px;
      height: 32px;
    }
  
    .list-item:hover .list-item-icon::before {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M6 26L26 6M26 6H6M26 6V26" stroke="%23FAF8F8" stroke-width="2" stroke-linecap="square"/></svg>');
    }
  }
</style>