<script>
  const modal: HTMLElement | null = document.querySelector(".modal");
  modal?.classList.toggle("modal--hide");

  function hideScroll(): void {
    document.documentElement.style.setProperty("overflow-y", "hidden");
  }

  function showScroll(): void {
    document.documentElement.style.setProperty("overflow-y", "auto");
  }

  const cbox: NodeListOf<Element> = document.querySelectorAll(".show-modal");
  cbox.forEach((box: Element) => {
    box.addEventListener("click", (event) => {
      event.preventDefault();
      modal?.classList.add("modal--open");
      modal?.classList.remove("modal--hide");

      setTimeout(hideScroll, 1000);
    });
  });

  document.querySelector(".hide-modal")?.addEventListener("click", () => {
    modal?.classList.remove("modal--open");

    showScroll();
  });
</script>

<div class="modal">
  <div class="modal-header">
    <a class="link hide-modal">Закрыть</a>
  </div>
  <div class="modal-body">
    <div class="modal-title"><slot name="title" /></div>
    <div class="modal-content"><slot name="content" /></div>
  </div>
</div>

<style>
  .modal {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;

    overflow-y: auto;

    animation: hide 1s linear;
  }

  .modal--hide {
    display: none;
  }

  .modal--open {
    display: block;
    top: 0;
    animation: move 1s linear;
  }

  @keyframes move {
    0% {
      top: 100vh;
    }
    100% {
      top: 0px;
    }
  }

  @keyframes hide {
    0% {
      top: 0px;
    }
    100% {
      top: 100vh;
    }
  }

  .modal-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf8f8;
    padding: 0px 32px;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 48px 16px;
    background-color: #faf8f8;
    height: calc(100% - 56px);
  }

  .modal-title {
    width: 100%;
    font-size: 40px;
    line-height: 48px; 
    letter-spacing: -2.4px;
    text-transform: uppercase;
  }

  @media screen and (width >= 1024px) {
    .modal-body {
      gap: 64px;
      padding: 96px 32px;
    }

    .modal-title {
      font-size: 96px;
      line-height: 104px;
      letter-spacing: -7.68px;
      text-transform: uppercase;
    }
  }
</style>
