---
interface Props {
  list: Array<ListItem>;
}

interface ListItem {
  title: string;
  text: string;
}

const { list } = Astro.props;
---

<script>
  class AstroSimpleList extends HTMLElement {
    constructor() {
      super();

      const items: NodeListOf<Element> = this.querySelectorAll(
        ".simple-item-block--header",
      );

      const box: NodeListOf<Element> = this.querySelectorAll(
        ".simple-item-block--content",
      );

      const buttonOpen: NodeListOf<Element> =
        document.querySelectorAll(".simple-item-button--open");
      const buttonClose: NodeListOf<Element> = this.querySelectorAll(
        ".simple-item-button--close",
      );

      function hideContent(): void {
        for (let i: number = 0; i < box.length; i++) {
          (box[i] as HTMLElement).style.display = "none";
        }

        buttonClose.forEach((button: HTMLElement) => {
          button.style.display = "none";
        });

        buttonOpen.forEach((button: HTMLElement) => {
          button.style.display = "flex";
        });
      }

      items.forEach((item: Element) => {
        item.addEventListener("click", (event: Event) => {
          event.preventDefault();

          let target: Element = event.target as Element;

          if (target && target.classList.contains("simple-item-block--header")) {
            hideContent();
            const openItem: Element | null = this.querySelector(".simple-item--open");
            const parent: Element | null = target.parentElement;
            
            if (parent) {
              parent.classList.toggle("simple-item--open");
            }

            if (openItem && openItem !== parent) {
              openItem.classList.remove("simple-item--open");
            }

            if (parent && parent.classList.contains("simple-item--open")) {
              const box: HTMLElement | null = parent.querySelector(
                ".simple-item-block--content",
              );

              const buttonOpen: HTMLElement | null =
                parent.querySelector(".simple-item-button--open");
              const buttonClose: HTMLElement | null = parent.querySelector(
                ".simple-item-button--close",
              );

              if (buttonOpen) {
                buttonOpen.style.display = "none";
              }
              if (buttonClose) {
                buttonClose.style.display = "flex";
              }
              if (box) {
                box.style.display = "block";
              }
            }
          }
        });
      })
    }
  }

  customElements.define("astro-simple-list", AstroSimpleList);
</script>

<astro-simple-list>
  <div class="simple-list">
    {
      list.map((item: ListItem) => (
        <dv class="simple-item">
          <div class="simple-item-block simple-item-block--header">
            <div class="simple-item-title">
              <Fragment set:html={item.title} />
            </div>
            <button class="simple-item-button simple-item-button--open">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M12 12V3M12 12V21M12 12H3M12 12H21"
                    stroke="#161619"
                    stroke-width="1.4"
                  />
                </svg>
            </button>
            <button class="simple-item-button simple-item-button--close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M12 12L5 5M12 12L19 5M12 12L5 19M12 12L19 19"
                  stroke="#161619"
                  stroke-width="1.4"
                />
              </svg>
            </button>
          </div>
          <div class="simple-item-block simple-item-block--content">
            <div class="simple-item-content">
              <div class="simple-item-text">{item.text}</div>
            </div>
          </div>
        </dv>
      ))
    }
  </div>
</astro-simple-list>

<style>
  .simple-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .simple-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px; 
  }

  .simple-item::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #161619;
  }

  .simple-item-block {
    width: 100%;
    display: flex;
  }

  .simple-item-block--header {
    padding-top: 16px;
    cursor: pointer;
  }

  .simple-item-block--content {
    display: none;
  }

  .simple-item-title {
    width: 100%;
    max-width: 488px;
    
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    text-transform: uppercase;

    pointer-events: none;
  }

  .simple-item-content {
    width: 100%;
  }

  .simple-item-text {
    font-family: Roboto Mono;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.7px;
    text-transform: none;
    max-width: 488px;
  }

  .simple-item-button {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #faf8f8;
    pointer-events: none;
  }

  .simple-item-button svg {
    pointer-events: none;
  }

  .simple-item-button--close {
    display: none;
  }

  @media screen and (min-width: 672px) {
    .simple-item-title {
      width: calc(50% - 8px);
      max-width: 452px;
    }

    .simple-item-content {
      width: calc(50% - 8px);
      max-width: 452px;
      margin-left: auto;
    }

    .simple-item-text {
      min-width: 328px;
      max-width: 488px;
    }
  }

  @media screen and (min-width: 1024px) {
    .simple-list {
      gap: 64px;
    }

    .simple-item {
      flex-direction: row;
      gap: 16px;
    }

    .simple-item-block--header {
      cursor: default;
    }

    .simple-item-title {
      width: 100%;
      max-width: 452px;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -1.44px;
      text-transform: uppercase;
    }

    .simple-item-content {
      width: 100%;
      max-width: 452px;
      margin-left: 0;
      padding-top: 16px;
    }

    .simple-item-text {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.8px;
    }

    .simple-item-button {
      display: none!important;
    }

    .simple-item-block--content {
      display: block!important;
    }
  }

  @media screen and (min-width: 1921px) {
    .simple-list {
      gap: 8vh;
    }

    .simple-item {
      gap: 2vw;
    }

    .simple-item-title {
      max-width: 24vw;
      font-size: 3vh;
      line-height: 4vh;
      letter-spacing: -0.075vw;
    }

    .simple-item-content {
      max-width: 24vw;
    }

    .simple-item-text {
      font-size: 2vh;
      line-height: 3vh;
      letter-spacing: -0.06vw;
    }
  }
</style>
