---
interface Props {
  size?: number;
}

const { size = 40 } = Astro.props;
---

<div class="social">
  <a
    class="social-link"
    href="http://"
    target="_blank"
    rel="noopener noreferrer"
    style={{ width: `${size}px`, height: `${size}px` }}
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M1.97974 9.07109C6.45367 7.12183 9.43696 5.83684 10.9297 5.21596C15.1916 3.44327 16.0772 3.13533 16.6545 3.1251C16.7814 3.12292 17.0653 3.15438 17.2492 3.30354C17.4044 3.42953 17.4472 3.5997 17.4676 3.7192C17.488 3.83863 17.5135 4.11074 17.4933 4.32329C17.2623 6.75004 16.2629 12.639 15.7545 15.3569C15.5394 16.507 15.1158 16.8926 14.7057 16.9303C14 16.9952 13.4287 16.588 12.7929 16.1347C12.6943 16.0645 12.5941 15.9931 12.4917 15.9222C12.4205 15.8729 12.3482 15.8238 12.2746 15.7755C11.5695 15.3133 11.0245 14.9422 10.4781 14.5701C9.97783 14.2294 9.47635 13.8879 8.84966 13.4749C7.54554 12.6155 8.09144 12.0893 8.81941 11.3875L8.82187 11.3852C8.93899 11.2722 9.06076 11.1548 9.18019 11.0307C9.2339 10.9749 9.49664 10.7307 9.86703 10.3864L9.86761 10.3859C11.0559 9.28115 13.351 7.14727 13.4089 6.90038C13.4184 6.85987 13.4272 6.70875 13.3375 6.62905C13.3002 6.59587 13.2554 6.5812 13.209 6.57691C13.1439 6.57097 13.0756 6.58557 13.0197 6.59822C12.8843 6.62897 10.7265 8.05517 6.5464 10.8769C5.93392 11.2975 5.37912 11.5024 4.88209 11.4917C4.33412 11.4798 3.28006 11.1818 2.49648 10.9271C2.38138 10.8897 2.26914 10.8544 2.16079 10.8204C1.36437 10.5699 0.779478 10.386 0.838021 9.91896C0.872679 9.64255 1.25325 9.35998 1.97974 9.07109Z"
        fill="#FAF8F8"></path>
    </svg>
  </a>
  <a
    class="social-link"
    href="http://"
    target="_blank"
    rel="noopener noreferrer"
    style={{ width: `${size}px`, height: `${size}px` }}
  >
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.8932 16.2297C4.05995 16.2297 0.162399 11.5451 0 3.75H3.42285C3.53528 9.47143 6.05864 11.8949 8.05739 12.3946V3.75H11.2805V8.68442C13.2543 8.47205 15.3277 6.22346 16.0273 3.75H19.2503C18.7132 6.7981 16.4646 9.04669 14.8656 9.97112C16.4646 10.7206 19.0256 12.6819 20 16.2297H16.4522C15.6901 13.8562 13.7914 12.0198 11.2805 11.77V16.2297H10.8932Z"
        fill="#FAF8F8"></path>
    </svg>
  </a>
</div>

<style>
  .social {
    display: flex;
    gap: 8px;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #161619;
    transition: all 0.25s linear;
  }

  .social-link:hover {
    background-color: #fe5639;
  }
</style>
