---
interface Props {
  title: string;
  cards: Array<Card>;
}

interface Card {
  name: string;
  position: string;
  imagePath: string;
}

const { title, cards } = Astro.props;

import TeamCard from "@components/TeamCard.astro";
---

<section class="team section">
  <h2 set:html={title} class="team-title title" />

  <div class="team-cards">
    {
      cards.map((card: Card) => (
        <TeamCard
          imagePath={card.imagePath}
          name={card.name}
          position={card.position}
        />
      ))
    }
  </div>
</section>

<style>
  .team-cards {
    display: flex;
    gap: 16px;
    overflow-x: scroll;
  }

  .team-cards::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 1025px) {
    .team-cards {
      display: flex;
      gap: 32px 16px;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-between;
      overflow-x: hidden;
    }
  }

  @media screen and (min-width: 1921px) {
    .team-cards {
      gap: 4vh 2vw;
    }
  }
</style>
