@font-face {
  font-family: Roboto_Condensed;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}

@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/RobotoMono-VariableFont_wght.ttf");
}

:root {
  font-family: Roboto_Condensed, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: #161619;
  background-color: #faf8f8;
  font-variant-numeric: lining-nums proportional-nums;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  /* margin-right: calc(-1 * (100vw - 100%)); */
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* body::-webkit-scrollbar {
  display: none;
} */

/* ::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
} */

/* ::-webkit-scrollbar-thumb {
  background: #D0D4E3;
  border: 4px transparent solid;
  border-radius: 8px;
  background-clip: padding-box;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  border: 4px transparent solid;
  background: #8D919D;
  background-clip: padding-box;
} */

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(208, 212, 227, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: #d0d4e3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8d919d;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faf8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

main {
  padding-top: 56px;
}

.link {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 16px 0;
  color: #161619;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  transition: all 0.25s ease;
  cursor: pointer;
}

.link:hover {
  color: #fe5639;
}

.link--active {
  color: #fe5639;
  text-decoration-line: none;
}

.link--disabled {
  opacity: 0.25;
}

.link svg path {
  fill: #161619;
  stroke: inherit;
  stroke-width: inherit;
}

.link:hover svg path {
  fill: #fe5639;
}

.link--active svg path {
  fill: #fe5639;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 16px;
}

.title {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #161619;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: #faf8f8;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: #fe5639;
}

.btn--disabled {
  opacity: 0.25;
}

input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 16px 0px 15px;
  border: none;
  border-bottom: 1px solid #161619;
  font: inherit;
  color: inherit;
  background-color: transparent;

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: #161619;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

.page-blocks {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.page-block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-block::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 100%;
  height: 1px;
  background-color: #161619;
}

.page-block-title {
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #161619;
}

.page-block-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: "Roboto Mono";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #161619;
  text-transform: none;
}

.page-block-text ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 30px;
}

.page-block-text h4 {
  margin-top: 22px;
}

.page-block-text h4:first-child {
  margin-top: 0;
}

.page-image {
  width: 100%;
  height: 480px;
}

.page-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

@media screen and (min-width: 1024px) {
  .section {
    gap: 32px;
    padding: 96px 32px;
  }

  .title {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -4.48px;
  }

  .page-blocks {
    width: 50%;
    margin-left: auto;
    gap: 64px;
  }

  .page-block {
    flex-direction: row;
    gap: 16px;
  }

  .page-block-title {
    width: calc(50% - 8px);
    padding: 16px 0;
  }

  .page-block-text {
    width: calc(50% - 8px);
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .page-block-text h4 {
    margin-top: 24px;
  }

  .page-image {
    height: 560px;
  }
}
