---
import "./form.css";
import vacancies from "@data/vacancies.json";
import InputText from "./InputText.astro";
import Select from "./Select.astro";
---

<script src="./form.ts"></script>

<astro-form>
  <form class="form">
    <div class="form-body">
      <div class="form-block">
        <div class="form-blok-title">Как к вам обращаться</div>
        <div class="form-row">
          <InputText type="text" name="name" placeholder="Имя" required />
          <InputText type="text" name="lastname" placeholder="Фамилия" />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Интересующая вакансия</div>
        <div class="form-row">
          <Select id={3} name="vacancy" list={vacancies} />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Резюме</div>
        <div class="form-row">
          <input
            type="text"
            name="resume"
            placeholder="вставьте ссылку на резюме"
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Контакты</div>
        <div class="form-row">
          <InputText
            type="text"
            name="phone"
            placeholder="Номер телефона"
            required
          />
          <InputText
            type="email"
            name="email"
            placeholder="Электронная почта"
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Комментарий</div>
        <div class="form-row">
          <input
            type="text"
            name="comment"
            placeholder="Напишите что–то по необходимости"
          />
        </div>
      </div>
      <p>
        отправляя анкету, вы соглашаетесь с <a class="form-link link"
          >политикой конфиденциальности</a
        >
      </p>
      <button type="submit" class="btn form-submit">Отправить заявку</button>
    </div>
  </form>
</astro-form>
