---
import "./form.css";
import InputText from "./InputText.astro";
import Select from "./Select.astro";
import Textarea from "./Textarea.astro";
import InputPhone from "./InputPhone.astro";

import getServises from "@data/getServices";

const services = await getServises();
---

<script src="./form.ts"></script>

<astro-form>
  <form
    class="form"
    action=`${import.meta.env.PUBLIC_STRAPI_URL}/api/order-services`
    data-text-sucсess="Отлично! <br> Мы получили заявку и <br>скоро свяжемся с вами"
  >
    <div class="form-body">
      <div class="form-block">
        <div class="form-blok-title">Как к вам обращаться</div>
        <div class="form-row">
          <InputText type="text" name="name" placeholder="Имя" required />
          <InputText type="text" name="lastname" placeholder="Фамилия" />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Интересующая услуга</div>
        <div class="form-row">
          <Select id={2} name="service" list={services} />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Контакты</div>
        <div class="form-row">
          <InputPhone name="phone" placeholder="Номер телефона" required />
          <InputText
            type="email"
            name="email"
            placeholder="Электронная почта"
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Комментарий</div>
        <div class="form-row">
          <Textarea
            name="comment"
            placeholder="Напишите что–то по необходимости"
          />
        </div>
      </div>
      <p>
        отправляя заявку, вы соглашаетесь с <a class="form-link link"
          >политикой конфиденциальности</a
        >
      </p>
      <button type="submit" class="btn form-submit">Отправить заявку</button>
    </div>
  </form>
</astro-form>
