---
import "./form.css";
import InputText from "./InputText.astro";
import InputPhone from "./InputPhone.astro";
import Textarea from "./Textarea.astro";
---

<script src="./form.ts"></script>

<astro-form>
  <form
    class="form"
    action=`${import.meta.env.PUBLIC_STRAPI_URL}/api/order-vacancies`
    data-text-sucсess="Отлично! <br> Мы получили анкету и <br>скоро свяжемся с вами"
  >
    <div class="form-body">
      <div class="form-block">
        <div class="form-blok-title">Как к вам обращаться</div>
        <div class="form-row">
          <InputText type="text" name="name" placeholder="Имя" required />
          <InputText type="text" name="lastname" placeholder="Фамилия" />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Интересующая вакансия</div>
        <div class="form-row">
          <Textarea
            name="vacancy"
            placeholder="укажите название вакансии"
            required
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Резюме</div>
        <div class="form-row">
          <Textarea name="resume" placeholder="вставьте ссылку на резюме" />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Контакты</div>
        <div class="form-row">
          <InputPhone name="name" placeholder="Номер телефона" required />
          <InputText
            type="email"
            name="email"
            placeholder="Электронная почта"
          />
        </div>
      </div>
      <div class="form-block">
        <div class="form-blok-title">Комментарий</div>
        <div class="form-row">
          <Textarea
            name="comment"
            placeholder="Напишите что–то по необходимости"
          />
        </div>
      </div>
      <p>
        отправляя заявку, вы соглашаетесь с <a class="form-link link" target="_blank" href="/pdf/ПТС%20(Политика%20кофиденциальности).pdf"
          >политикой конфиденциальности</a
        >
      </p>
      <button type="submit" class="btn form-submit">Отправить заявку</button>
    </div>
  </form>
</astro-form>
