---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  myProp?: boolean;
}

const { type, name, placeholder, required } = Astro.props;
---

<div class="input-text">
  <input
    type={type}
    name={name}
    placeholder={placeholder}
    required={required}
  />

  {required && (<div class="input-text-error">Обязательно для заполнения</div>)}
</div>
