---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  myProp?: boolean;
}

const { name, placeholder, required } = Astro.props;
---

<script>
  import formatPhone from "@utils/formatPhone.ts";

  class AstroInputPhone extends HTMLElement {
    constructor() {
      super();

      const textarea: HTMLInputElement = this.querySelector("input");

      const changeValue = (target: HTMLTextAreaElement): void => {
        const text: string = target.value;
        const value: string = formatPhone(text);
        target.value = value;
      }

      textarea.addEventListener("input", (event: Event) => {
        const target: HTMLTextAreaElement = event.target as HTMLTextAreaElement;
        changeValue(target);
      });

      textarea.addEventListener("focus", (event: Event) => {
        const target: HTMLTextAreaElement = event.target as HTMLTextAreaElement;
        changeValue(target);
      });
    }
  }

  customElements.define("astro-input-phone", AstroInputPhone);
</script>

<astro-input-phone>
  <div class="input-text">
    <input
      type="tel"
      name={name}
      placeholder={placeholder}
      required={required}
    />

    {required && <div class="input-text-error">Обязательно для заполнения</div>}
  </div>
</astro-input-phone>

<style>
  astro-input-phone {
    width: 100%;
  }
</style>
