---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"input"> {
  myProp?: boolean;
}

const { name, placeholder, required } = Astro.props;
---

<script>
  class AstroTextarea extends HTMLElement {
    constructor() {
      super();

      const textarea = this.querySelector("textarea");

      textarea.addEventListener("input", (event: Event) => {
        let target: HTMLElement = event.target as HTMLElement;
        target.style.height = target.scrollHeight + 1 + "px";
      });
    }
  }

  customElements.define("astro-textarea", AstroTextarea);
</script>

<astro-textarea>
  <div class="input-text">
    <textarea name={name} placeholder={placeholder} required={required}
    ></textarea>

    {required && <div class="input-text-error">Обязательно для заполнения</div>}
  </div>
</astro-textarea>

<style>
  astro-textarea {
    width: 100%;
  }
</style>
